<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Tutor Coaching</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomePage</display-name>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>Tutor.HomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>Contact.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Login.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterP</display-name>
    <servlet-name>FilterP</servlet-name>
    <servlet-class>Login.FilterP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterP</servlet-name>
    <url-pattern>/JSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploaddir</display-name>
    <servlet-name>uploaddir</servlet-name>
    <servlet-class>Files.uploaddir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploaddir</servlet-name>
    <url-pattern>/uploaddir</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cloudFServlet</display-name>
    <servlet-name>cloudFServlet</servlet-name>
    <servlet-class>Files.cloudFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cloudFServlet</servlet-name>
    <url-pattern>/cloudFServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>Register.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fetch</display-name>
    <servlet-name>Fetch</servlet-name>
    <servlet-class>Admin.Fetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fetch</servlet-name>
    <url-pattern>/Fetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit</display-name>
    <servlet-name>Edit</servlet-name>
    <servlet-class>Admin.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Select</display-name>
    <servlet-name>Select</servlet-name>
    <servlet-class>Admin.Select</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Select</servlet-name>
    <url-pattern>/Select</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>Admin.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Admin.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>students</display-name>
    <servlet-name>students</servlet-name>
    <servlet-class>Admin.students</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>students</servlet-name>
    <url-pattern>/students</url-pattern>
  </servlet-mapping>
</web-app>